

#menul, #menur{background:url(../images/lime/topmenu/menubg_l.png) no-repeat left top}
#menur{background:url(../images/lime/topmenu/menubg_r.png) no-repeat right top}
#horiznav ul li a{color:#fff; background:none}

#horiznav ul li a:hover, 
#horiznav ul li:hover a, 
#horiznav ul li.sfHover a{color:#121212; background:none}
#horiznav li#current a, 
#horiznav li#current a:hover, 
#horiznav li#current:hover a, 
#horiznav li#current.sfHover a, 
#horiznav li.active a{color:#121212; background:none}
#horiznav li#current, 
#horiznav li#current:hover, 
#horiznav li#current.sfHover, 
#horiznav li.active{background:url(../images/lime/topmenu/active_r.png) no-repeat right top; z-index:-100}
#horiznav ul li:hover li a, 
#horiznav ul li.sfHover li a, 
#horiznav ul li#current:hover li a, 
#horiznav ul li#current.sfHover li a, 
#horiznav ul li:hover ul ul li a, 
#horiznav ul ul li.active{color:#fff; background-image:none}
#horiznav li:hover ul, 
#horiznav li li:hover ul, 
#horiznav li li li:hover ul, 
#horiznav li li li li:hover ul, 
#horiznav li.sfHover ul, 
#horiznav li li.sfHover ul, 
#horiznav li li li.sfHover ul, 
#horiznav li li li li.sfHover ul, 
#horiznav ul li:hover li a, 
#horiznav ul li.sfHover li a, 
#horiznav ul li:hover ul ul li a, 
/* Sub menu color*/
#horiznav ul li.sfHover ul ul li a{background-color:#587801}


#horiznav li ul li a:hover, 
#horiznav li ul li ul li a:hover, 
#horiznav li li:hover, 
#horiznav ul li li.sfHover, 
#horiznav li li.sfHover a, 
#horiznav ul li li:hover a, 
#horiznav ul li li:hover, 
#horiznav ul li li.sfHover, 
#horiznav ul li li#current a:hover, 
#horiznav li.haschild ul li#current.sfHover, 
#horiznav li.haschild ul li#current:hover, 
#horiznav ul li.haschild li#current a:hover{background-color:#668a04; color:#121212; background-image:none}

#horiznav ul li#current ul li a, 
#horiznav ul li#current ul li, 
#horiznav ul li#current ul li a:hover, 
#horiznav ul li#current ul li.hover
#horiznav ul li#current ul li.sfHover, 
#horiznav ul li.haschild li#current a{color:#fff}
#horiznav li li{border-bottom:1px solid #82B103}
#horiznav li ul{border-right:1px solid #82B103; border-left:1px solid #82B103; border-bottom:none; border-top:1px solid #82B103}

#horiznav li, #horiznav{font-weight:bold}
#horiznav li{background:url(../images/lime/topmenu/normal_r.png) no-repeat right top}
#horiznav ul li:hover, #horiznav ul li.sfHover{background:url(../images/lime/topmenu/hover_r.png) no-repeat right top; z-index:-100}

#horiznav ul li ul li.haschild a.child, 
#horiznav ul li ul li a.child:hover{background:url(../images/lime/topmenu/arrow_right.gif) 95% 50% no-repeat}
#horiznav ul li.active ul li a.child{background:url(../images/lime/topmenu/arrow_right.gif) 95% 50% no-repeat}

#horiznav_d{font-weight:bold; background:none}
#horiznav_d li{background:none}
#horiznav_d li a, #horiznav_d li .separator{background:url(../images/lime/topmenu/normal_r.png) no-repeat right top; color:#fff; z-index:-1000;}
#horiznav_d ul li ul{background:url(../images/lime/topmenu/horiz_bg_dd.png) repeat-x 0 top}
#horiznav_d li.active, #horiznav_d li.active:hover, 
#horiznav_d li.active.sfHover, 
#horiznav_d li:hover, #horiznav_d li.sfHover{background:none}
#horiznav_d li.active a, #horiznav_d li.active .separator, 
#horiznav_d li.active a:hover, #horiznav_d li.active .separator:hover, 
#horiznav_d li:hover a, #horiznav_d li:hover .separator, 
#horiznav_d li.sfHover a, #horiznav_d li.sfHover .separator{background:url(../images/lime/topmenu/active_r.png) no-repeat right top; color:#121212}
#horiznav_d li.haschild li a:hover, 
#horiznav_d li.haschild li.active a{text-decoration:underline; background:url(../images/lime/topmenu/drop_sep.png) no-repeat right bottom}
#horiznav_d li.haschild li a{color:#fff; font-weight:bold; background:url(../images/lime/topmenu/drop_sep.png) no-repeat right bottom}

#mainlevel li a, 
.menu li a, 
a.mainlevel{background:#fff url(../images/lime/mainlevel.jpg) no-repeat left top}
#mainlevel li a:hover, 
#mainlevel a#active_menu:link, #mainlevel a#active_menu:visited, 
a.mainlevel:hover, 
a.mainlevel#active_menu, 
#mainlevel li a:hover, 
#mainlevel a#active_menu:link, #mainlevel a#active_menu:visited, 
.menu li a:hover, .menu li.active a{background:#fff url(../images/lime/mainlevel.jpg) no-repeat left bottom}
