
RewriteEngine on
RewriteCond %{HTTP_HOST} ^nbl\.com\.bd$ [OR]
RewriteCond %{HTTP_HOST} ^www\.nbl\.com\.bd$
RewriteRule ^/?$ "http\:\/\/nblbd\.com" [R=301,L]

RewriteCond %{HTTP_HOST} ^nationalbank\.com\.bd$ [OR]
RewriteCond %{HTTP_HOST} ^www\.nationalbank\.com\.bd$
RewriteRule ^/?$ "http\:\/\/nblbd\.com" [R=301,L]

