/* begin Page */

#art-main, table
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: justify;
}


h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

body
{
  margin: 0 auto;
  padding: 0;
  /*color: #3D3D3D;
  background-color: #949494;
  background-image: url('images/Bottom_texture.jpg');*/
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: top left;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
    font-family: Arial, Helvetica, Sans-Serif;
}

.art-postcontent p
{
    margin: 12px 0 12px 0;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
  font-family: "Times New Roman", Georgia, Times, Serif;
  font-size: 33px;
}

.art-postcontent a
{
  text-decoration: none;
  color: #912A1D;
}

.art-postcontent a:link
{
  text-decoration: none;
  color: #912A1D;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
  text-decoration: none;
  color: #912A1D;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
  text-decoration: none;

  color: #C43927;
}


.art-postcontent h1
{
   margin: 20px 0 20px 0; 
   color: #575757;
 
}

.art-postcontent h2
{
    color: #757575;
   margin: 22px 0 22px 0; 
   font-size: 31px;   
}

.art-postcontent h3
{
   margin: 18px 0 18px 0; 
  color: #C43927; 
  font-size: 20px;    
}

.art-postcontent h4
{
   margin: 20px 0 20px 0; 
   color: #C5530D; 
   font-size: 18px;   
}

.art-postcontent h5
{
   margin: 23px 0 23px 0; 
   color: #C5530D;   
   font-size: 15px;
}

.art-postcontent h6
{
   margin: 28px 0 28px 0; 
   color: #C5530D;
   font-size: 13px;      
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

#art-main
{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
}




.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1px;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.art-sheet
{
  position: relative;
  margin: 0 auto;
  min-width: 41px;
  min-height: 41px;
}

.art-sheet-body
{
  position: relative;
  padding: 8px;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
  position: absolute;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl
{
  width: 68px;
  height: 68px;
  background-image: url('images/sheet_s.png');
}

.art-sheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 34px, 34px, auto);
}

.art-sheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 34px, 34px);
}

.art-sheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(34px, 34px, auto, auto);
}

.art-sheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(34px, auto, auto, 34px);
}

.art-sheet-tc, .art-sheet-bc
{
  left: 34px;
  right: 34px;
  height: 68px;
  background-image: url('images/sheet_h.png');
}

.art-sheet-tc
{
  top: 0;
  clip: rect(auto, auto, 34px, auto);
}

.art-sheet-bc
{
  bottom: 0;
  clip: rect(34px, auto, auto, auto);
}

.art-sheet-cr, .art-sheet-cl
{
  top: 34px;
  bottom: 34px;
  width: 68px;
  background-image: url('images/sheet_v.png');
}

.art-sheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 34px);
}

.art-sheet-cl
{
  left: 0;
  clip: rect(auto, 34px, auto, auto);
}

.art-sheet-cc
{
  position: absolute;
  top: 34px;
  left: 34px;
  right: 34px;
  bottom: 34px;
  background-color: #FFFCFA;
}

.art-sheet
{
    width: 66.7%;
    margin: auto;
    max-width: 900px;
}


/* end Box, Sheet */

/* begin Header */
div.art-header
{
  width: 100%;
  height: 125px;
  overflow: hidden;
    background: #FFFFFF;
    position: relative;
}


div.art-header-logo
{
    width: 71%;
    height: 125px;
    /*background-image: url('images/header_white.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: left center;*/
    display: inline-block;
    vertical-align: top;
}

div.art-header-media {
    width: 26%;
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
    padding-right: 2%;
}

.art-header-media-item {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0 0 16px 0;
    position: relative;
}

.art-header-media-item li {
    display: inline-block;
    margin-right: 10%;
}

.art-header-media-item li:last-child {
    padding: 0;
}

/*div.art-header-jpeg*/
/*{*/
  /*height: 125px;*/
  /*background-image: url('images/header_for_980.jpg');*/
  /*background-repeat: no-repeat;*/
  /*background-position: center center;*/
/*}*/


/* end Header */

/* begin Flash */
#art-flash-area
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
  overflow: hidden;
}

#art-flash-container
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
}

#art-flash-container div.art-flash-alt
{
    position: relative;
    width: 110px;
    height: 30px;
    margin: 0 auto;
    top: {flash_alt_top}px;
}
/* end Flash */

/* begin Logo */
div.art-logo
{
  display: block;
  position: absolute;
  left: 0;
  margin-left: 12%;
  top: 42px;
}

h1.art-logo-name
{
  display: block;
  text-align: center;
 
}

h1.art-logo-name, h1.art-logo-name a, h1.art-logo-name a:link, h1.art-logo-name a:visited, h1.art-logo-name a:hover
{
  font-style: normal;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 34px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: green !important;
}


h2.art-logo-text, 
h2.art-logo-text a,
h2.art-logo-text a:link,
h2.art-logo-text a:visited,
h2.art-logo-text a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  padding: 0;
  padding-top:5px;
  margin: 0;
  color: green !important;
}

h2.art-logo-text
{
  display: block;
  text-align: left;
}
/* end Logo */




/* begin Menu */
/* menu structure */

.art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
	text-align:left;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
}

.art-menu, .art-menu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.art-menu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	background:none;
}

.art-menu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.art-menu li li
{
	float: none;
}

.art-menu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background:none;
}

.art-menu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.art-menu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.art-menu:after, .art-menu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.art-menu, .art-menu ul
{
	min-height: 0;
}

.art-menu ul
{
	background-image: url(images/spacer.gif);
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
}

.art-menu ul ul
{
	padding: 10px 10px 10px 10px;
	margin: -10px 0 0 -10px;
}





/* menu structure */

.art-menu
{
	padding: 0px 0px 0px 0px;
}

.art-nav
{
	position: relative;
	min-height: 39px;
	z-index: 100;
    background: #468000;
}

.art-nav .l, .art-nav .r
{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 39px;
	background-image: url('images/nav.png');
	
}

.art-nav .l
{
	left: 0;
	right:0px;
}

.art-nav .r
{
	right: 0;
	width: 874px;
	clip: rect(auto, auto, auto, 874px);
}


/* end Menu */

/* begin MenuItem */
.art-menu ul li
{
	clear: both;
}

.art-menu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 39px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 0px;
	margin-left: 0px;
}


.art-menu a .r, .art-menu a .l
{
	position:absolute;
	display: block;
	top:0;
	z-index:-1;
	height: 117px;
	background-image: url('images/MenuItem.png');
}

.art-menu a .l
{
	left:0;
	right:0px;
}

.art-menu a .r
{
	width:200px;
	right:0;
	clip: rect(auto, auto, auto, 300px);
}

.art-menu a .t 
{
font-family: Arial, Helvetica, Sans-Serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
	color: #FFFFFF;
	padding: 0 13px;
	margin: 0 0px;
	line-height: 39px;
	text-align: center;
}

.art-menu a:hover .l, .art-menu a:hover .r
{
	top:-39px;
}

.art-menu li:hover>a .l, .art-menu li:hover>a .r
{
	top:-39px;
}

.art-menu li:hover a .l, .art-menu li:hover a .r
{
	top:-39px;
}
.art-menu a:hover .t
{
	color: #E0E2DF;
}

.art-menu li:hover a .t
{
	color: #E0E2DF;
}

.art-menu li:hover>a .t
{
	color: #E0E2DF;
}



/* end MenuItem */

/* begin MenuSeparator */
.art-nav .art-menu-separator
{
	display: block;
	width: 2px;
	height: 39px;
	background-image: url('images/MenuSeparator.png');
}

/* end MenuSeparator */

/* begin MenuSubItem */
.art-menu ul a
{
	display:block;
	text-align: center;
	white-space: nowrap;
	height: 32px;
	width: 200px;
	overflow:hidden;
	line-height: 32px;
	margin-right: auto;


	background-image: url('images/subitem-bg.png');
	background-position: left top;
	background-repeat: repeat-x;
	border-width: 1px;
	border-style: solid;
	border-color: #549900;
}

.art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
	display: inline;
	float: none;
	margin: inherit;
	padding: inherit;
	background-image: none;
	text-align: inherit;
	text-decoration: inherit;
}

.art-menu ul a, .art-menu ul a:link, .art-menu ul a:visited, .art-menu ul a:hover, .art-menu ul a:active, .art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
	text-align: left;
	text-indent: 12px;
	text-decoration: none;
	line-height: 32px;
	color: #FFFFFF;
font-family: Arial, Helvetica, Sans-Serif;
font-size: 14px;
font-style: normal;
font-weight: normal;
}

.art-menu ul ul a
{
	margin-left: auto;
}

.art-menu ul li a:hover
{
	color: #A1A99E;
	border-color: #549900;
	background-position: 0 -32px;
}

.art-menu ul li:hover>a
{
	color: #A1A99E;
	border-color: #549900;
	background-position: 0 -32px;
}

.art-nav .art-menu ul li a:hover span, .art-nav .art-menu ul li a:hover span span
{
	color: #A1A99E;
}

.art-nav .art-menu ul li:hover>a span, .art-nav .art-menu ul li:hover>a span span
{
	color: #A1A99E;
}


/* end MenuSubItem */





/* begin Layout */
.art-content-layout
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
}
.art-layout-cell, .art-content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none !important;
  margin:0 !important;
  padding:0 !important;
}
/*.art-content-layout .art-content-layout{width: 855px;margin:0;}*/
/*.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell{display: table-cell;}*/
/*.art-layout-cell .art-layout-cell{display: block;}*/
/*.art-content-layout-row {display: table-row;}*/
/*.art-layout-glare{position:relative;}*//* end Layout */

/* begin Button */
.art-button-wrapper a.art-button,
.art-button-wrapper a.art-button:link,
.art-button-wrapper input.art-button,
.art-button-wrapper button.art-button
{
  text-decoration: none;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  position:relative;
  top:0;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #DEDEDE !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 23px;
  height: 23px;
  margin: 0 !important;
  padding: 0 7px !important;
  overflow: visible;
  cursor: pointer;
}

.art-button img, .art-button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.art-button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 23px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.firefox2 .art-button-wrapper
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

.art-block select 
{
    width:96%;
}

.art-button-wrapper.hover .art-button, .art-button-wrapper.hover a.art-button:link, .art-button:hover
{
  color: #000000 !important;
  text-decoration: none !important;
}

.art-button-wrapper.active .art-button, .art-button-wrapper.active a.art-button:link
{
  color: #1C1C1C !important;
}

.art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
  display: block;
  position: absolute;
  height: 79px;
  margin: 0;
  padding: 0;
  background-image: url('images/button.png');
}

.art-button-wrapper .art-button-l
{
  left: 0;
  right: 0;
}

.art-button-wrapper .art-button-r
{
  width: 201px;
  right: 0;
  clip: rect(auto, auto, auto, 201px);
}

.art-button-wrapper.hover .art-button-l, .art-button-wrapper.hover .art-button-r
{
  top: -28px;
}

.art-button-wrapper.active .art-button-l, .art-button-wrapper.active .art-button-r
{
  top: -56px;
}

.art-button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Block */
.art-block
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-block-body
{
  position: relative;
  padding: 0;
}


.art-block
{
  margin: 10px;
  
}

/* end Box, Block */

/* begin BlockHeader */
.art-blockheader
{
  margin-bottom: 4px;
}

.art-blockheader, .art-blockheader h3.t
{
  position: relative;
  height: 34px;
}

.art-blockheader h3.t,
.art-blockheader h3.t a,
.art-blockheader h3.t a:link,
.art-blockheader h3.t a:visited, 
.art-blockheader h3.t a:hover
{
  color: #F27B31;
  font-family: Arial, Helvetica, Sans-Serif;
  font-variant: small-caps;
  font-size: 14px;
}

.art-blockheader h3.t
{
  margin:0;
  padding: 0 10px 0 10px;
  white-space: nowrap;
  line-height: 34px;	
}



/* begin Box, BlockContent */
.art-blockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-blockcontent-body
{
  position: relative;
  padding: 3px;
}


.art-blockcontent-body, 
.art-blockcontent-body li, 
.art-blockcontent-body a,
.art-blockcontent-body a:link,
.art-blockcontent-body a:visited,
.art-blockcontent-body a:hover
{
  color: #1C1C1C;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

.art-blockcontent-body p
{
  margin: 6px 0 6px 0;
}

.art-blockcontent-body a
{
  color: #006600;
  text-decoration: none;
}

.art-blockcontent-body a:link
{
  color: #006600;
  text-decoration: none;
}

.art-blockcontent-body a:visited, .art-blockcontent-body a.visited
{
  color: #006600;

}

.art-blockcontent-body a:hover, .art-blockcontent-body a.hover
{
  color: #006600;

  text-decoration: underline;
}

.art-blockcontent-body ul li
{
  line-height: 125%;    
  color: #562406;

  padding: 0 0 0 16px;
  background-image: url('images/blockcontentbullets.png');
  background-repeat: no-repeat;
}/* end Box, BlockContent */

/* begin Box, Post */
.art-post
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-post-body
{
  position: relative;
  padding: 0px;
}


.art-post
{
  margin: 0;
}

a img
{
  border: 0;
}

.art-article img, img.art-article
{
  border: solid 1px #FFFCFA;
  margin: 7px;
}

.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
}

.art-article th, .art-article td
{
  padding: 7px;
  border: solid 1px #616161;
  vertical-align: top;
  text-align: left;
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
h2.art-postheader
{
  color: #3D3D3D;
  margin: 6px 0 6px 0;
}

h2.art-postheader, 
h2.art-postheader a, 
h2.art-postheader a:link, 
h2.art-postheader a:visited,
h2.art-postheader a.visited,
h2.art-postheader a:hover,
h2.art-postheader a.hovered
{
  font-size: 31px;
  text-align: center;
}

h2.art-postheader a, h2.art-postheader a:link
{
  text-decoration: none;
  color: #D13D29;
}

h2.art-postheader a:visited, h2.art-postheader a.visited
{

  color: #BB4F0C;
}


h2.art-postheader a:hover,  h2.art-postheader a.hovered
{


  color: #C43927;
}

/* end PostHeaderIcon */

/* begin PostBullets */
.art-post ol, .art-post ul
{
  margin: 1em 0 1em 2em;
  padding: 0;
}

.art-post li
{
  font-size: 13px;
}

.art-post li ol, .art-post li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

.art-post li
{
  color: #141414; 

  padding: 0;
}


.art-post li
{
  padding: 0 0 0 15px;
}

.art-post ol>li
{
  background: none;
  padding-left: 0;/* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.art-post ul>li
{
  background-image: url('images/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 0px;/* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
  overflow-y: hidden;
}


/* end PostBullets */

/* begin PostQuote */
.art-postcontent blockquote,
.art-postcontent blockquote a,
.art-postcontent blockquote a:link,
.art-postcontent blockquote a:visited,
.art-postcontent blockquote a:hover
{
  color: #1D0C02;

}

.art-postcontent blockquote p
{
   margin: 17px 0 17px 17px;
}

.art-postcontent blockquote
{
   border: solid 1px #F6A06A;
  margin: 10px 10px 10px 50px;
  padding: 10px 10px 10px 38px;
  background-color: #FACEB2;
  background-image: url('images/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;/* makes blockquote not to align behind the image if they are in the same line */
  overflow: auto;
}

/* end PostQuote */

/* begin Footer */
.art-footer
{
  position: relative;
  overflow: hidden;
  width: 100%;
}

.single-layout-footer {
    position: relative;
    overflow: hidden;
    width: calc(100% - 17px) !important;
    margin: auto;
}

.art-footer-b 
{
  position: absolute;
  left:5px;
  right:5px;
  bottom:0;
  height:50px;
  background-image: url('images/footer_b.png');
}

.art-footer-r, .art-footer-l
{
  position: absolute;
  height:50px;
  background-image: url('images/footer_s.png');
  bottom: 0;
}

.art-footer-l
{
  left: 0;
  width:5px;
}

.art-footer-r
{
  right: 0;
  width:10px;
  clip: rect(auto, auto, auto, 5px);
}

.art-footer-t
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  background-color: #575757;
}

.art-footer-body
{
    position:relative;
    padding: 0px;
}

.art-footer-body .art-rss-tag-icon
{
  position: absolute;
  left:   6px;
  bottom:20px;
  z-index:1;
}

.art-rss-tag-icon
{
  display: block;
  background-image: url('images/rssicon.png');
  background-position: center right;
  background-repeat: no-repeat;
  height: 30px;
  width: 19px;
  cursor: default;
}

.art-footer-text p
{
  padding:0;
  margin:0;
}

.art-footer,
.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover
{
    color: #FFFFFF;
    font-size: 12px;
}

.art-footer-text
{
  min-height: 30px;
  padding: 0 10px 0 10px;

}

.art-footer,
.art-footer-text,
.art-footer p
{
  text-align: center;
}

.art-footer a,
.art-footer a:link
{
  color: #ffffff;
  text-decoration: none;
}

.art-footer a:visited
{
  color: #ffffff;
  text-decoration: none;

}

.art-footer a:hover
{
  color: #ffffff;
  text-decoration: none;
  font-weight:bold;


}
/* end Footer */

/* begin PageFooter */
.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
}

.art-page-footer
{
  margin: 1em;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}
/* end PageFooter */

/* begin LayoutCell, content */




.art-content-layout .art-content .art-block
{
  background-image: url('images/sidebar_bg.png');
}
/* end LayoutCell, content */

/* begin LayoutCell, sidebar1 */

.art-content-layout .art-sidebar1
{
    background-image: url('images/sidebar_bg.png');
    width: calc(26% - 2px);
    vertical-align: top;
    display: inline-block;
    min-height: 415px;
}

.art-content-layout .art-content {
    width: calc(74% - 2px);
    vertical-align: top;
    display: inline-block;
}

.single-layout .art-content {
    width: calc(100% - 20px) !important;
    padding-left: 10px !important;
    display: block;
}

#slider {
    width: 100% !important;
}

/* end LayoutCell, sidebar1 */




.overview-table .art-layout-cell
{
    width:75px;
}


.overview-table-inner 
{
    margin:0px;
}

table.table
{
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
    text-align:left;
    vertical-align:top;
}

table.table, table.table tr, table.table td
{
    border:none;
    margin:0;
    padding:0;
    background-color:Transparent;
}

img.image {
    margin: 0;
    padding: 0;
    border: none;
}

.paging2 {
  padding-top: 4px;
}

.branch_loc {
    border-right: 1px solid #ccc;
    margin: 0 10px;
    width: calc(100% - 20px) !important;
}

/* Responsive Design */

.media-icon-hidden {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #468000;
    border: 0 none;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
    color: #ccc;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 28px;
    outline-style: none;
    outline-width: 0;
    overflow: hidden;
    padding: 0 10px 0 8px;
    text-decoration: none !important;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}

.media-icon-hidden:hover {
    color: white;
}

.show-media-item {
    background: #ccc none repeat scroll 0 0;
    display: block !important;
    padding: 8px !important;
    position: absolute;
    right: 2px;
    top: 2px;
    border-radius: 5px;
    width: 190px !important;
}

.main-nav-hidden {
    cursor: pointer;
    display: none;
    padding: 7px;
}

.main-nav-hidden:hover {
    opacity: 0.5;
}

.home-middle-content td {
    min-width: 200px;
}

.nbl-logo {
    margin-left: 7%;
    margin-top: 15px;
}

/* Home Content */
.home-info {
    padding: 10px;
}

.home-info-item {
    background-repeat: no-repeat;
    min-height: 148px;
    min-width: 165px;
    padding: 45px 12px 0 12px;
    margin-right: 2%;
    float: left;
    margin-bottom: 10px;
    background-size: 100% 100%;
    width: calc(33% - 25px - 2%);
}

.home-info-item:last-child {
    margin-right: 0;
}

.home-info-deposit {
    background-image:url(img/Deposit2.gif);
}

.home-info-credit {
    background-image:url(img/credit2.gif);
}

.home-info-card {
    background-image:url(img/cards2.gif);
}

.home-info-item ul {
    margin: 0;
    padding: 0 0 0 15px;
}

.home-info-item ul li {
    font-size: 12px;
    list-style-image: url("images/blockcontentbullets.png");
    overflow-y: visible;
    padding-bottom: 11px;
}

/* Table Design For Responsive */

.sponsor-director{
    padding: 10px;
}

.sponsor{
    padding-top: 35px;
}
.list-directors{
    margin: auto;
    width: 100%;
}

.director{
    float: left;
    width: 33%;
    text-align: center;
    padding-bottom:  15px;
    padding-top:  15px;
}

.director p{
    text-align: center;
    padding-top: 10px;
}

.serial{
    background-color: #999999;
    float: left;
    width: 10.4%;
}

.bcode{
    background-color: #999999;
    float: left;
    width: 17.3%;
}


.bname{
    background-color: #999999;
    float: left;
    width: 40.4%;
}

.district{
    background-color: #999999;
    float: left;
    width: 18.3%;
}

.branch-list{
    width: 100%;
}

.serial-data{
    border: 1px solid #e3d9b3;
    float: left;
    width: 10.4%;
}

.bcode-data{
    border: 1px solid #e3d9b3;
    float: left;
    width: 17.3%;
}

.bname-data{
    border: 1px solid #e3d9b3;
    float: left;
    width: 40.4%;
}

.district-data{
    border: 1px solid #e3d9b3;
    float: left;
    width: 18.3%;
}

.baddress{
    background-color: #999999;
    float: left;
    width: 60.3%;

}

.baddress-data{
    border: 1px solid #e3d9b3;
    float: left;
    width: 60.3%;
}

.cameraSlide .imgLoaded {
    width: 98% !important;
    margin: auto !important;
    height: auto !important;
}

.schedule_charge,
.download_form {
    margin: 0;
    padding: 0;
    list-style: none;
}

.download_form_item {
    background: rgba(0, 0, 0, 0) url("images/postcommentsicon.png") no-repeat scroll left 5px !important;
    padding: 0 10px 15px 30px !important;
    text-align: left;
    line-height: 20px;
}

.schedule_charge_item {
    background: rgba(0, 0, 0, 0) url("images/postcommentsicon.png") no-repeat scroll left 5px !important;
    padding: 0 10px 25px 30px !important;
    text-align: left;
    line-height: 20px;
}

.img-content-left {
    width: calc(40% - 10px);
    float:left;
    border:solid 0 #3300CC;
    margin-left:10px
}

.img-content-right {
    width:calc(59% - 20px);
    float:right;border:solid 0 #3300CC;
    padding-left:10px;
    padding-right:10px;
    line-height:25px;
}