@media screen and (max-width: 1000px) {
    .director{
        clear: both;
        display: inline-block;
        float: none;
    }
    .serial{
        float: none;
        width: auto;
}

    .bname{
        float: none;
        width: auto;
}

    .bcode{
        float: none;
        width: auto;
}

    .district{
        float: none;
        width: auto !important;
}

    .serial-data{
        float: none;
        width: auto;
}

    .bname-data{
        float: none;
        width: auto;
}

    .bcode-data{
        float: none;
        width: auto;
}

    .district-data{
        float: none;
        width: auto ;
}

.branch_info_header {
     float: none !important;
}

/* Force table to not be like tables anymore */
		 .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
	 * html .cf { zoom: 1; }
	 *:first-child+html .cf { zoom: 1; }
	.branch_loc th,
	 td { margin: 0; vertical-align: top; }
	 th { text-align: left; }
	 .branch_loc { display: block; position: relative; width: 100%; }
	.branch_loc thead { display: block; float: left; }
	.branch_loc tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
	 .branch_loc thead tr { display: block; }
	 .branch_loc th { display: block; text-align: right; }
	  .branch_loc tbody tr { display: inline-block; vertical-align: top; }
	 .branch_loc td { display: block; min-height: .25em; text-align: left; }

	/* sort out borders */

	.branch_loc th { border-bottom: 0; border-left: 0; }
	.branch_loc td { border-left: 0; border-right: 0; border-bottom: 0; }
	.branch_loc tbody tr { border-left: 1px solid #babcbf; }
	.branch_loc th:last-child,
	.branch_loc td:last-child { border-bottom: 1px solid #babcbf; }


}